<%= form_for :assignment, url: assignments_path do |a| %>

<h1>New Assignment</h1>

<p>
  <%= a.label :student %>
  <%= a.text_field :student %>
</p>

<p>
  <%= a.label :name %>
  <%= a.text_field :name %>
</p>

<p>
  <%= a.label :score %>
  <%= a.text_field :score %>
</p>

<p>
  <%= a.label :total %>
  <%= a.text_field :total %>
</p>

<p>
  <%= a.submit %>
</p>

<% end %>