<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% @current = current_user %>

<style>
h4 {display: inline}
</style>
  
<h1>Students</h1>


<% if @current == nil %>
  <h4><%= link_to 'Sign up', new_student_path %></h4>
  <h4><%= link_to 'Sign in', login_path %></h4>
<% else %>
  <h4><%= link_to 'Sign out', logout_path %></h4>
<% end %>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
  </tr>
  
  <% @students.each do |student| %>
    <tr>
      <td><%= image_tag(student.image, size: "100") %></td>
      <td><%= student.name %></td>
      <td><%= student.nickname %></td>
      <td><%= student.email %></td>
      <% if @current && student.email == @current.email %>
      <td>
        <%= link_to edit_student_path(student), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
      </td>
      <td>
        <%= link_to student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>