<%= form_for :student, url: students_path do |s| %>
  <% if @student.errors.any? %>
    <div class="alert alert-error">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @student.errors.full_messages %>
          <li><%= message %>
        <% end %>
      </ul>
    </div>
   <% end %>

<h1>Sign up</h1>

<p>
  <%= s.label :name %>
  <%= s.text_field :name %>
</p>

<p>
  <%= s.label :nickname %>
  <%= s.text_field :nickname %>
</p>

<p>
  <%= s.label :email %>
  <%= s.text_field :email %>
</p>

<p>
  <%= s.label :image %>
  <%= s.text_field :image %>
</p>

<p>
  <%= s.label :password %>
  <%= s.password_field :password %>
</p>

<p>
  <%= s.label :password_confirmation %>
  <%= s.password_field :password_confirmation %>
</p>

<p>
  <%= s.submit %>
</p>
<% end %>