<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag({action: :create}, multipart: true) do %>
  <% if(current_user.is_admin) %>
    <%= file_field_tag 'file' %>
    <%= submit_tag 'Import' %>
  <% else %>
    <h2>You are not authorized to view this page.</h2>
    <%= link_to 'Home', students_path %>
  <% end %>
<% end %>